$color-main: #f5f5dc;

.container {
    background-color: $color-main;
    border-radius: 10px;
    width: 40rem;
    height: 50rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .details {
        width: 90%;

        ul {
            li {
                list-style: none;
                padding-bottom: 0.5rem;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .controller {
        display: flex;

        div {
            padding-right: 1rem;

            input {
                width: 60px;
                height: 40px;
            }
        }
    }

    .backButton {
        display: flex;
        width: 90%;
    }
}
